<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="1" label="Development">
			<item label="IDLE"> <action name="Execute">
				<execute>idle</execute>
			</action> </item>
			<item label="LibreOffice Writer/Web"> <action name="Execute">
				<execute>loweb</execute>
			</action> </item>
			<item label="Python"> <action name="Execute">
				<execute>xterm -e python</execute>
			</action> </item>
			<item label="Qt Assistant"> <action name="Execute">
				<execute>assistant</execute>
			</action> </item>
			<item label="Qt Designer"> <action name="Execute">
				<execute>designer</execute>
			</action> </item>
			<item label="Qt Linguist"> <action name="Execute">
				<execute>linguist</execute>
			</action> </item>
		</menu>
		<menu id="2" label="Editors">
			<item label="AA Fire"> <action name="Execute">
				<execute>xterm -e aafire -driver slang</execute>
			</action> </item>
			<item label="Emacs"> <action name="Execute">
				<execute>xterm -e emacs</execute>
			</action> </item>
			<item label="Nano"> <action name="Execute">
				<execute>xterm -e nano</execute>
			</action> </item>
			<item label="Vi"> <action name="Execute">
				<execute>xterm -e vi</execute>
			</action> </item>
		</menu>
		<menu id="18" label="Games">
			<menu id="10" label="Arcade">
				<item label="PacMan"> <action name="Execute">
					<execute>pacman</execute>
				</action> </item>
			</menu>
		</menu>
		<menu id="6" label="Graphics">
			<item label="GNU Image Manipulation Program"> <action name="Execute">
				<execute>gimp-2.6</execute>
			</action> </item>
			<item label="Inkscape"> <action name="Execute">
				<execute>inkscape</execute>
			</action> </item>
			<item label="LibreOffice Draw"> <action name="Execute">
				<execute>lodraw</execute>
			</action> </item>
			<item label="mtPaint"> <action name="Execute">
				<execute>mtpaint</execute>
			</action> </item>
			<item label="MuPDF"> <action name="Execute">
				<execute>mupdf</execute>
			</action> </item>
			<item label="The GIMP"> <action name="Execute">
				<execute>gimp</execute>
			</action> </item>
			<item label="XGlyph"> <action name="Execute">
				<execute>xglyph</execute>
			</action> </item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer"> <action name="Execute">
				<execute>xterm -e alsamixer</execute>
			</action> </item>
			<item label="Brasero"> <action name="Execute">
				<execute>brasero</execute>
			</action> </item>
			<item label="GNOME MPlayer"> <action name="Execute">
				<execute>gnome-mplayer</execute>
			</action> </item>
			<item label="Minitube"> <action name="Execute">
				<execute>minitube</execute>
			</action> </item>
			<item label="Radio"> <action name="Execute">
				<execute>xterm -e radio</execute>
			</action> </item>
			<item label="Sonata"> <action name="Execute">
				<execute>sonata</execute>
			</action> </item>
			<item label="UMPlayer"> <action name="Execute">
				<execute>umplayer</execute>
			</action> </item>
		</menu>
		<menu id="5" label="Network">
			<item label="Avahi SSH Server Browser"> <action name="Execute">
				<execute>bssh</execute>
			</action> </item>
			<item label="Avahi VNC Server Browser"> <action name="Execute">
				<execute>bvnc</execute>
			</action> </item>
			<item label="Chromium"> <action name="Execute">
				<execute>chromium</execute>
			</action> </item>
			<item label="FileZilla"> <action name="Execute">
				<execute>filezilla</execute>
			</action> </item>
			<item label="FireFox"> <action name="Execute">
				<execute>firefox</execute>
			</action> </item>
			<item label="Mail"> <action name="Execute">
				<execute>xterm -e mail</execute>
			</action> </item>
			<item label="Mutt"> <action name="Execute">
				<execute>xterm -e mutt</execute>
			</action> </item>
			<item label="Pidgin Internet Messenger"> <action name="Execute">
				<execute>pidgin</execute>
			</action> </item>
			<item label="Skype"> <action name="Execute">
				<execute>skype</execute>
			</action> </item>
			<item label="TkVNC"> <action name="Execute">
				<execute>xterm -e tkvnc</execute>
			</action> </item>
			<item label="Twinkle"> <action name="Execute">
				<execute>twinkle</execute>
			</action> </item>
		</menu>
		<menu id="3" label="Office">
			<item label="ePDFViewer"> <action name="Execute">
				<execute>epdfview</execute>
			</action> </item>
			<item label="LibreOffice"> <action name="Execute">
				<execute>libreoffice</execute>
			</action> </item>
			<item label="LibreOffice Base"> <action name="Execute">
				<execute>lobase</execute>
			</action> </item>
			<item label="LibreOffice Calc"> <action name="Execute">
				<execute>localc</execute>
			</action> </item>
			<item label="LibreOffice Impress"> <action name="Execute">
				<execute>loimpress</execute>
			</action> </item>
			<item label="LibreOffice Writer"> <action name="Execute">
				<execute>lowriter</execute>
			</action> </item>
			<item label="PyRoom"> <action name="Execute">
				<execute>pyroom</execute>
			</action> </item>
		</menu>
		<menu id="39" label="Other">
			<item label="CMake"> <action name="Execute">
				<execute>cmake-gui</execute>
			</action> </item>
			<item label="Dropbox"> <action name="Execute">
				<execute>dropboxd</execute>
			</action> </item>
			<item label="Gummi"> <action name="Execute">
				<execute>gummi</execute>
			</action> </item>
			<item label="LibreOffice Quickstarter"> <action name="Execute">
				<execute>libreoffice -quickstart -nologo -nodefault</execute>
			</action> </item>
			<item label="Wicd"> <action name="Execute">
				<execute>wicd-client</execute>
			</action> </item>
			<item label="Xpdf"> <action name="Execute">
				<execute>xpdf</execute>
			</action> </item>
		</menu>
		<menu id="4" label="Science">
			<item label="Avogadro"> <action name="Execute">
				<execute>avogadro</execute>
			</action> </item>
		</menu>
		<menu id="19" label="Shells">
			<item label="Dash"> <action name="Execute">
				<execute>xterm -e dash -i</execute>
			</action> </item>
			<item label="File Manager"> <action name="Execute">
				<execute>pcmanfm</execute>
			</action> </item>
			<item label="GIT"> <action name="Execute">
				<execute>xterm -e git</execute>
			</action> </item>
			<item label="Root Terminal"> <action name="Execute">
				<execute>gksu -l gnome-terminal</execute>
			</action> </item>
			<item label="rxvt-unicode"> <action name="Execute">
				<execute>urxvt</execute>
			</action> </item>
			<item label="Xterm"> <action name="Execute">
				<execute>xterm</execute>
			</action> </item>
			<item label="XTerm (Unicode)"> <action name="Execute">
				<execute>uxterm</execute>
			</action> </item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<menu id="21" label="GNOME">
					<item label="Privilege granting"> <action name="Execute">
						<execute>gksu-properties</execute>
					</action> </item>
				</menu>
				<item label="Customize Look and Feel"> <action name="Execute">
					<execute>lxappearance</execute>
				</action> </item>
				<item label="Openbox Configuration Manager"> <action name="Execute">
					<execute>obconf</execute>
				</action> </item>
				<item label="Preferred Applications"> <action name="Execute">
					<execute>libfm-pref-apps</execute>
				</action> </item>
			</menu>
			<item label="Avahi Zeroconf Browser"> <action name="Execute">
				<execute>avahi-discover</execute>
			</action> </item>
			<item label="GDM Setup"> <action name="Execute">
				<execute>gksu gdmsetup</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e /usr/bin/pstree.x11</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree.x11</execute>
			</action> </item>
			<item label="Top"> <action name="Execute">
				<execute>xterm -e top</execute>
			</action> </item>
			<item label="UNetbootin"> <action name="Execute">
				<execute>unetbootin</execute>
			</action> </item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="Archive Manager"> <action name="Execute">
				<execute>file-roller</execute>
			</action> </item>
			<item label="Info"> <action name="Execute">
				<execute>xterm -e info</execute>
			</action> </item>
			<item label="Synapse"> <action name="Execute">
				<execute>synapse</execute>
			</action> </item>
			<item label="Xarchiver"> <action name="Execute">
				<execute>xarchiver</execute>
			</action> </item>
			<item label="Xclock (analog)"> <action name="Execute">
				<execute>xclock -analog</execute>
			</action> </item>
			<item label="Xclock (digital)"> <action name="Execute">
				<execute>xclock -digital</execute>
			</action> </item>
			<item label="Xclock (digital)"> <action name="Execute">
				<execute>xclock -digital -update 1</execute>
			</action> </item>
			<item label="Xev"> <action name="Execute">
				<execute>xterm -e xev</execute>
			</action> </item>
			<item label="Xrefresh"> <action name="Execute">
				<execute>xrefresh</execute>
			</action> </item>
			<item label="Xsetroot"> <action name="Execute">
				<execute>xsetroot</execute>
			</action> </item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure"> <action name="Reconfigure"/> </item>
			<separator/>
			<item label="Exit"> <action name="Exit"/> </item>
                        <item label="Reboot">
                                <action name="Execute">
                                        <command>sudo shutdown -r now</command>
                                        <prompt>Reboot?</prompt>
                                </action>
                        </item>
                        <item label="Shutdown">
                                <action name="Execute">
                                        <command>sudo shutdown -h now</command>
                                        <prompt>Shutdown?</prompt>
                                </action>
                        </item>
                        <item label="Suspend">
                                <action name="Execute">
                                        <command>sudo pm-suspend</command>
                                        <prompt>Suspend?</prompt>
                                </action>
                        </item>
               </menu>
                        
	</menu>
</openbox_menu>
